body {
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    color: yellow;
}

p {
    line-height: 1.4em;
}

a {
    color: yellow;
}

#intro{
    position: sticky;
    left: 0px;
    top: 0px;
}

#nav {
    display: flex;
    position: sticky;
}

#blog {
    display: flex;
    position: relative;
    background-color: yellow;
    margin: 1px;
}

article { 
    background-color: navy;
    color: yellow;
    width: 600px; 
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.image-h {
    height: 300px;
    width: 500px;
}

.image-v {
    height: 400px;
    width: 300px;
    margin: 10px;
    float: right;
}

.contact {
    margin: 5px;
}