body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    color: black;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}

p {
    line-height: 1.4em;
    margin: 10px;
}

#blog {
    border-top: 5px solid black;
    margin: 1px;
}

.blogpost {
    background-color: lightblue;
    color: black;
    border: 5px dotted black;
    width: 600px; 
    text-indent: 25px;
    margin-bottom: 10px;
}

.time {
    text-indent: 25px;
}

.image-h {
    height: 300px;
    width: 500px;
    margin: 50px;
}

.image-v {
    height: 400px;
    width: 300px;
    margin: 10px;
}

.contact {
    margin: 5px;
}